h1 {color:rgb(0,0,0);text-shadow:0px 0px 10px white}
body{text-align:center;background: linear-gradient(to bottom,rgb(255,165,230),#FF39C8)}
ul{list-style-position:inside}
	p{font-family: "Fjalla One", sans-serif;}